.app-wrapper {
    display: grid;
    width: 1200px;
    margin: 0 auto;

    grid-template-areas:
    "h h"
    "n c";

    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
}

.header {
    grid-area: h;
    background-color: darkolivegreen;
}

.header img{
    width: 50px;
}

.nav {
    grid-area: n;
    background-color: chocolate;
}

.content {
    grid-area: c;
    background-color: lightseagreen;
}

.content img {
   width: 70%;
}

